<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>@ViewBag.Title</title>
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="utf-8" />
<meta name="Robots" content="all" />
<meta name="Author" content="ruanyu@x3platform.com" />
<meta name="Copyright" content="ruanyu (C) @(ViewData["Year"])" />
<meta name="Keywords" content="@ViewBag.Keywords" />
<meta name="Description" content="@ViewBag.Description" />@RenderSection("head", false)
<link rel="shortcut icon" href="/favorite.ico" />
<link rel="stylesheet" media="all" href="/resources/styles/normalize.min.css" type="text/css" />
<link rel="stylesheet" media="all" href="/views/templates/internal/sdk/styles/style.css" type="text/css" />@RenderSection("styles", false)
<script type="text/javascript" src="/resources/javascript/x-client-api-core.zh-cn.min.js"></script>
<script type="text/javascript" src="/resources/javascript/baidu-tongji.js"></script>@RenderSection("scripts", false)
</head>
<body>
@RenderBody()
<footer>© x3platform.com</footer>
</body>
</html>
