@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/single-render.cshtml"; }
@section scripts {
  <script type="text/javascript" src="/resources/editors/ace/ace.js"></script>
  <script type="text/javascript" src="/resources/javascript/beautify/beautify-html.js"></script>
  <script type="text/javascript" src="/views/main/customizes/customize-layout-form.js"></script>
}
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table-style" style="width:960px;">
    <div id="window-main-table-header" class="table-header">
      <div id="toolbar" class="table-toolbar">
        <button id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o" title="保存"></i> 保存</button>
        <button id="btnCancel" class="btn btn-default"><i class="fa fa-ban" title="关闭"></i> 关闭</button>
      </div>
      <span>自定义布局</span>
      <div class="clear"></div>
    </div>
    <div id="window-main-table-body" class="table-body">
      <div id="window-main-table-container">
        <table class="table">
          <tr>
            <td class="table-body-text" style="width:120px;"><span class="required-text">名称</span></td>
            <td class="table-body-input">
              <input id="id" name="id" type="hidden" x-dom-data-type="value" value="@ViewBag.param.Id" />
              <input id="name" name="name" type="text" x-dom-data-type="value" value="@ViewBag.param.Name" class="form-control" x-dom-data-required="1" x-dom-data-required-warning="必须填写【名称】。" style="width:680px;" />
              <input id="originalName" name="originalName" type="hidden" x-dom-data-type="value" value="@ViewBag.param.Name" />
            </td>
          </tr>
          <tr>
            <td class="table-body-text"><span class="required-text">描述</span></td>
            <td class="table-body-input">
              <textarea id="description" name="description" type="text" x-dom-data-type="value" class="form-control" style="width:680px;">@ViewBag.param.Description</textarea>
            </td>
          </tr>
          <tr>
            <td class="table-body-text">内容源代码</td>
            <td class="table-body-input" style="height:420px">
              <textarea id="html" name="html" type="text" x-dom-data-type="value" rows="16" class="form-control" style="width:680px; display:none;">@ViewBag.param.Html</textarea>
              <div id="html-editor" style="position:absolute; border:1px solid #ddd; border-radius:4px; width:815px; height:400px; font-size:14px;"></div>
            </td>
          </tr>
          <tr>
            <td class="table-body-text">排序</td>
            <td class="table-body-input">
              <input id="orderId" name="orderId" type="text" x-dom-data-type="value" value="@ViewBag.param.OrderId" class="form-control" style="width:200px;" />
            </td>
          </tr>
          <tr class="table-row-normal">
            <td class="table-body-text">启用</td>
            <td class="table-body-input">
              <input id="status" name="status" type="checkbox" x-dom-data-type="value" x-dom-feature="checkbox" value="@ViewBag.param.Status" />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
