@{
  Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/single-render.cshtml";
}
@section scripts{
  <script type="text/javascript" src="/resources/scripts/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="/resources/scripts/ui/pkg/x.ui.pkg.customizes.js"></script>
  <script type="text/javascript" src="/views/main/customizes/customize-page-form.js"></script>
}
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table-style" style="width:960px;">
    <div id="window-main-table-header" class="table-header">
      <div id="toolbar" class="table-toolbar">
        <button id="btnPreview" href="javascript:main.customizes.customize.page.form.preview()" class="btn btn-default"><i class="fa fa-floppy-o" title="预览"></i> 预览</button>
        <button id="btnEdit" href="javascript:main.customizes.customize.page.form.save()" class="btn btn-default"><i class="fa fa-floppy-o" title="保存"></i> 保存</button>
        <button href="javascript:x.page.close();" class="btn btn-default"><i class="fa fa-ban" title="关闭"></i> 关闭</button>
      </div>
      <span>自定义页面</span>
      <div class="clear"></div>
    </div>
    <div id="window-main-table-body" class="table-body">
      <div id="window-main-table-container">
        <input id="authorizationObjectType" value="@ViewBag.param.AuthorizationObjectType" type="hidden" />
        <input id="authorizationObjectId" value="@ViewBag.param.AuthorizationObjectId" type="hidden" />
        <table class="table" >
          <tr>
            <td class="table-body-text" style="width:120px;"><span class="required-text">名称</span></td>
            <td class="table-body-input">
              <input id="id" name="id" type="hidden" x-dom-data-type="value" value="@ViewBag.param.Id" />
              <input id="name" name="name" type="text" x-dom-data-type="value" value="@ViewBag.param.Name" class="form-control" x-dom-data-required="1" x-dom-data-required-warning="必须填写【名称】。" style="width:680px;" />
              <input id="originalName" name="originalName" type="hidden" x-dom-data-type="value" value="@ViewBag.param.Name" />
            </td>
          </tr>
          <tr>
            <td class="table-body-text"><span class="required-text">标题</span></td>
            <td class="table-body-input">
              <input id="title" name="title" type="text" x-dom-data-type="value" value="@ViewBag.param.Title" class="form-control" x-dom-data-required="1" x-dom-data-required-warning="必须填写【标题】。" style="width:680px;" />
            </td>
          </tr>
          <tr>
            <td class="table-body-text">启用</td>
            <td class="table-body-input">
              <input id="status" name="status" type="checkbox" x-dom-data-type="value" x-dom-feature="checkbox" value="@ViewBag.param.Status" />
            </td>
          </tr>
        </table>
        <div class="x-ui-pkg-tabs-wrapper">
          <div class="x-ui-pkg-tabs-menu-wrapper">
            <ul class="x-ui-pkg-tabs-menu nav nav-tabs">
              <li><a href="#tab-1">部件</a></li>
              <li><a href="#tab-2">布局</a></li>
            </ul>
          </div>

          <div class="x-ui-pkg-tabs-container">
            <h2 class="x-ui-pkg-tabs-container-head-hidden"><a id="tab-1" name="tab-1">基本信息</a></h2>
            <div class="x-ui-pkg-customize-menu-widget-wrapper" style="padding:10px;"></div>
          </div>

          <div class="x-ui-pkg-tabs-container">
            <h2 class="x-ui-pkg-tabs-container-head-hidden"><a id="tab-2" name="tab-2">基本信息</a></h2>
            <div class="x-ui-pkg-customize-menu-layout-wrapper" style="padding:10px;"></div>
          </div>
        </div>

        <div class="x-ui-pkg-customize-wrapper">
          @Html.Raw(ViewBag.param.Html)
        </div>
      </div>
    </div>
  </div>
</div>
