@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
<script id="x-main" type="text/javascript" >
    x.require({ files: [
        { fileType: 'script', id: 'x-app-script', path: x.dir() + 'app/x.app.js' },
        { fileType: 'script', id: 'main-membership-group-tree-node-list-script', path: '/views/main/membership/group-tree-node-list.js' }
    ]});
</script>
<script id="template-list" type="text/template">
<table class="table-style" style="width:100%">
<tbody>
    <tr class="table-row-title">
        <th >名称</th>
        <th style="width:100px" >状态</th>
        <th style="width:80px">更新日期</th>
        <th style="width:40px">删除</th>
    </tr>
{{foreach index node in list}}
    {{if index % 2 == 0}}
    <tr class="table-row-normal">
    {{else}}
    <tr class="table-row-alternating">
    {{/if}}
        <td><a href="javascript:main.membership.group.tree.node.list.openDialog('{{node.id}}');">{{node.name}}</a></td>
        <td>{{node.statusView}}</td>
        <td>{{node.modifiedDateView}}</td>
        <td><a href="javascript:main.membership.group.tree.node.list.confirmDelete('{{node.id}}');">删除</a></td>
    </tr>
{{/foreach}}
</tbody>
</table>
</script>
<script id="template-form" type="text/template">
<div class="x-ui-pkg-tabs-wrapper">
    <div class="x-ui-pkg-tabs-menu-wrapper">
        <ul class="x-ui-pkg-tabs-menu nav nav-tabs">
            <li><a href="#tab-1">基本信息</a></li>
            <li><a href="#tab-2">备注</a></li>
        </ul>
    </div>

    <div class="x-ui-pkg-tabs-container">
        <h2 class="x-ui-pkg-tabs-container-head-hidden"><a id="tab-1" name="tab-1">基本信息</a></h2>
        <table class="table-style" style="width:100%">
            <tr class="table-row-normal-transparent">
                <td class="table-body-text" style="width:120px"><span class="required-text">名称</span></td>
                <td class="table-body-input">
                    <input id="id" name="id" type="hidden" x-dom-data-type="value" value="{{param.id}}" />
                    <input id="parentId" name="parentId" type="hidden" x-dom-data-type="value" value="{{param.parentId}}" />
                    <input id="name" name="name" type="text" x-dom-data-type="value" x-dom-data-required="1" x-dom-data-required-warning="【名称】必须填写。" value="{{param.name}}" class="form-control" style="width:120px;" />
                    <input id="isKey" name="isKey" type="hidden" x-dom-data-type="value" value="{{param.isKey}}" />
                </td>
            </tr>

            <tr class="table-row-normal-transparent">
                <td class="table-body-text" style="width:120px">排序</td>
                <td class="table-body-input">
                    <input id="orderId" name="orderId" type="text" x-dom-data-type="value" value="{{param.orderId}}" class="form-control" style="width:120px;" />
                </td>
            </tr>

            <tr class="table-row-normal-transparent">
                <td class="table-body-text" style="width:120px">启用</td>
                <td class="table-body-input">
                    <input id="status" name="status" type="checkbox" x-dom-data-type="value" x-dom-feature="checkbox" value="{{param.status}}" class="form-control" />
                </td>
            </tr>

        </table>
    </div>

    <div class="x-ui-pkg-tabs-container">
        <h2 class="x-ui-pkg-tabs-container-head-hidden"><a id="tab-2" name="tab-2">备注</a></h2>
        <table class="table-style" style="width:100%">

            <tr class="table-row-normal-transparent">
                <td class="table-body-text" style="width:120px">备注</td>
                <td class="table-body-input">
                    <textarea id="remark" name="remark" type="text" x-dom-data-type="value" class="form-control" style="width:460px;height:60px;">{{param.remark}}</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
</script>
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"人员及权限管理\角色管理" } }))
<div id="window-container" class="window-container" >
<div id="window-main-table" class="table-style" style="width:100%;">
    <div id="window-main-table-header" class="table-header">
        <span>@(ViewBag.tree.Name)类别设置</span>
    </div>
    <div id="window-main-table-body" class="table-body">
        <table class="table-style" style="width:100%;">
            <tr>
                <td class="table-sidebar">
                    <div id="window-main-table-sidebar">
                        <div class="table-sidebar-search"><input id="searchText" type="text" value="" class="table-sidebar-search-text" /> <button id="btnFilter" class="table-sidebar-search-button">查询</button></div>
                        <div id="treeViewContainer" class="table-sidebar-tree-view"></div>
                        <input id="treeViewId" name="treeViewId" type="hidden" value="@ViewBag.tree.Id" />
                        <input id="treeViewName" name="treeViewName" type="hidden" value="@ViewBag.tree.Name" />
                        <input id="treeViewRootTreeNodeId" name="treeViewRootTreeNodeId" type="hidden" value="@ViewBag.tree.RootTreeNodeId" />
                    </div>
                </td>
                <td>
                    <div id="window-main-table-container"><span class="tooltip-loading-text "><img src="/resources/images/loading.gif" alt="正在加载..." /></span></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="window-main-table-footer" class="table-footer"></div>
</div>
</div>