@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
<script type="text/javascript" src="/resources/javascript/app/x.app.js"></script>
<script type="text/javascript" src="/views/shared/wizards/contacts-wizard.js"></script>
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"应用管理\应用事件管理" } }))
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table">
    <div id="window-main-table-header" class="table-header x-freeze-height">
      <span>会话管理</span>
    </div>
    <div id="window-main-table-body" class="table-body">
      <div class="table-row-filter form-inline text-right x-freeze-height">
        <input id="searchText" type="text" value="" class="form-control input-sm" />
        <button id="btnFilter" class="btn btn-default btn-sm" title="查询"><i class="glyphicon glyphicon-search"></i></button>
      </div>
      <div id="window-main-table-container">
        <table class="table">
          <thead>
            <tr>
              <th>会话标识</th>
              <th style="width:320px">帐号标识</th>
              <th style="width:300px">帐号信息</th>
              <th style="width:180px">登录时间</th>
              <th style="width:30px"><i class="fa fa-check-circle"></i></th>
              <th style="width:30px"><i class="fa fa-trash"></i></th>
            </tr>
          </thead>
          <tbody>
            @if (ViewBag.dictionary.Count == 0)
            {
              <tr><td colspan="5">目前没有会话数据</td></tr>
            }
            else
            {
              foreach (string key in ViewBag.dictionary.Keys)
              {
                var account = ViewBag.dictionary[key];

                <tr>
                  <td><span style="font-family:Consolas;">@key</span></td>
                  <td><span style="font-family:Consolas;">@account.Id</span></td>
                  <td>@(account.Name + "(" + @account.LoginName + ")")</td>
                  <td>@account.LoginDate.ToString("yyyy-MM-dd HH:mm:ss.fff")</td>
                  <td>@Html.Raw(key.IndexOf(account.Id) > -1 ? "<span style=\"color:green;\" ><i class=\"fa fa-check-circle\"></i></span>" : "<span style=\"color:red;\" ><i class=\"fa fa-times-circle\"></i></span>")</td>
                  <td><a href="/sys/sessions?removeKey=@key"><i class="fa fa-trash"></i></a></td>
                </tr>
              }

              <tr>
                <td colspan="5" style="text-align:right">总计: @ViewBag.dictionary.Count</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>