@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/single-render.cshtml"; }
<script type="text/javascript" src="/resources/javascript/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/resources/javascript/jquery-file-upload/jquery.fileupload.js"></script>
<script type="text/javascript" src="/resources/javascript/app/x.app.js"></script>
<script type="text/javascript" src="/resources/javascript/app/x.app.files.js"></script>
<script type="text/javascript" id="shared-wizards-contacts-wizard-script" src="/views/shared/wizards/contacts-wizard.js"></script>
<script type="text/javascript" src="/views/main/bugs/assets-scripts.js"></script>
<script type="text/javascript" src="/views/main/bugs/bug-form.js"></script>
<div id="window-container" class="container">
  <div id="window-main-table" class="table">
    <div id="window-main-table-header" class="table-header">
      <div id="toolbar" class="table-toolbar">
        <a href="javascript:main.bugs.bug.form.save()" class="btn btn-default">@I18n.Strings["btn_save"]</a>
        <a href="javascript:x.page.close();" class="btn btn-default">@I18n.Strings["btn_close"]</a>
      </div>
      <span>@I18n.Translates["Bugs", "Bug"]</span>
    </div>
    <div id="window-main-table-body" class="table-body">
      <div class="x-ui-pkg-tabs-wrapper">
        <div class="x-ui-pkg-tabs-menu-wrapper">
          <ul class="x-ui-pkg-tabs-menu nav nav-tabs">
            <li><a href="#tab-1">@I18n.Translates["Bugs", "Bug"]</a></li>
            @if (@ViewBag.docEditMode == DocEditMode.Edit)
            {
              <li><a href="#tab-2">@(I18n.Translates["Bugs", "Comment"])(@ViewBag.param.Comments.Count)</a></li>
              <li><a href="#tab-3">@(I18n.Translates["Bugs", "History"])(@ViewBag.param.Histories.Count)</a></li>
            }
          </ul>
        </div>

        <div class="x-ui-pkg-tabs-container">
          <h2 class="x-ui-pkg-tabs-container-head-hidden"><a id="tab-1" name="tab-1">@I18n.Translates["Bugs", "Bug"]</a></h2>
          <table class="table" style="width:100%">
            <tr class="table-row-normal">
              <td class="table-body-text">@I18n.Translates["Bugs", "Code"]</td>
              <td class="table-body-input" colspan="3">
                <input id="entityClassName" type="hidden" value="@ViewBag.entityClassName" />
                <input id="id" name="id" type="hidden" x-dom-data-type="value" value="@ViewBag.param.Id" />
                <input id="accountId" name="accountId" type="hidden" x-dom-data-type="value" value="@ViewBag.param.AccountId" />
                <input id="orderId" name="orderId" type="hidden" x-dom-data-type="value" value="@ViewBag.param.OrderId" />
                <input id="fromStatus" name="fromStatus" type="hidden" x-dom-data-type="value" value="@ViewBag.param.Status" />
                @if (@ViewBag.param.Code == "")
                {
                  <span class="gray-text">@I18n.Translates["AutomaticNumbering"]</span>
                  <input id="code" type="hidden" x-dom-data-type="value" value="" />
                }
                else
                {
                  <input id="code" type="text" x-dom-data-type="value" readonly="readonly" value="@ViewBag.param.Code" class="form-control" style="width:200px;" />
                }
              </td>
            </tr>
            <tr class="table-row-normal">
              <td class="table-body-text"><span class="required-text">@I18n.Translates["Bugs", "Title"]</span></td>
              <td class="table-body-input" colspan="3">
                <input id="title" name="title" type="text" x-dom-data-type="value" x-dom-data-required="1" x-dom-data-required-warning="必须填写【@I18n.Translates["Title"]】。" value="@ViewBag.param.Title" class="form-control" style="width:460px;" />
              </td>
            </tr>

            <tr class="table-row-normal">
              <td class="table-body-text"><span class="required-text">@I18n.Translates["Bugs", "Category"]</span></td>
              <td colspan="3" class="table-body-input form-inline">
                <div class="input-group">
                  <input id="categoryIndex" name="categoryIndex" type="text" x-dom-data-type="value" x-dom-data-required="1" x-dom-data-required-warning="必须填写【所属类别】。" readonly="readonly" @Html.Raw((string.IsNullOrEmpty(ViewBag.param.CategoryIndex) ? "" : "value=\"" + ViewBag.param.CategoryIndex + "\"")) class="form-control" style="width:300px;" />
                  <input id="categoryId" name="categoryId" type="hidden" x-dom-data-type="value" @Html.Raw((string.IsNullOrEmpty(ViewBag.param.CategoryId) ? "" : "value=\"" + @ViewBag.param.CategoryId + "\"")) />
                  <a href="javascript:main.bugs.bug.form.getCategoryWindow()" class="input-group-addon" title="编辑"><i class="glyphicon glyphicon-modal-window"></i></a>
                </div>
            </tr>

            <tr class="table-row-normal">
              <td class="table-body-text"><span class="required-text">@I18n.Translates["Bugs", "Content"]</span></td>
              <td colspan="3" class="table-body-input">
                <textarea id="content" name="content" type="text" x-dom-data-type="value" x-dom-data-required="1" x-dom-data-required-warning="必须填写【内容】。" class="form-control" style="width:90%;height:120px;">@ViewBag.param.Content</textarea>
              </td>
            </tr>

            <tr class="table-row-normal">
              <td class="table-body-text bold-text" style="width:120px">@I18n.Translates["Bugs", "Project"]</td>
              <td class="table-body-input form-inline" style="width:300px">
                <input id="projectId" name="projectId" type="hidden" x-dom-data-type="value" value="@ViewBag.param.ProjectId" x-dom-feature="project" selectedtext="@ViewBag.param.ProjectName" class="form-control" style="width:160px;" />
              </td>
              <td class="table-body-text bold-text" style="width:120px">@I18n.Translates["Bugs", "Status"]</td>
              <td class="table-body-input">
                <input id="status" name="status" value="@ViewBag.param.Status" x-dom-data-type="value" x-dom-feature="combobox" selectedtext="@ViewBag.param.StatusView" topoffset="-1" url="/api/application.setting.getCombobox.aspx" comboboxwhereclause=" ApplicationSettingGroupId IN ( SELECT Id FROM tb_Application_SettingGroup WHERE Name = \#\#应用管理_协同平台_问题跟踪_问题状态\#\# ) " class="form-control" style="width:160px" />
              </td>
            </tr>

            <tr class="table-row-normal">
              <td class="table-body-text">@I18n.Translates["Bugs", "AssignTo"]</td>
              <td class="table-body-input form-inline">
                <div class="input-group">
                  <input id="assignToAccountName" name="assignToAccountName" type="text" x-dom-data-type="value" value="@ViewBag.param.AssignToAccountName" readonly="readonly" class="form-control" style="width:160px;" />
                  <input id="assignToAccountId" name="assignToAccountId" type="hidden" x-dom-data-type="value" value="@ViewBag.param.AssignToAccountId" />
                  <a href="javascript:javascript:x.ui.wizards.getContactWizard({targetViewName:'assignToAccountName',targetValueName:'assignToAccountId',contactTypeText:'account'});" class="input-group-addon" title="编辑"><i class="glyphicon glyphicon-modal-window"></i></a>
                </div>
              </td>

              <td class="table-body-text">@I18n.Translates["Bugs", "Priority"]</td>
              <td class="table-body-input">
                <input id="priority" name="" type="text" x-dom-data-type="value" value="@ViewBag.param.Priority" x-dom-feature="combobox" selectedtext="@ViewBag.param.PriorityView" topoffset="-1" url="/api/application.setting.getCombobox.aspx" comboboxwhereclause=" ApplicationSettingGroupId IN ( SELECT Id FROM tb_Application_SettingGroup WHERE Name = \#\#应用管理_协同平台_问题跟踪_问题优先级\#\# ) " class="form-control" style="width:160px" />
              </td>
            </tr>

            <tr class="table-row-normal">
              <td class="table-body-text">@I18n.Translates["Tag"]</td>
              <td class="table-body-input">
                <input id="tags" name="tags" type="text" x-dom-data-type="value" value="@ViewBag.param.Tags" x-dom-feature="combobox" selectedtext="@ViewBag.param.Tags" topoffset="-1" url="/api/application.setting.getCombobox.aspx" comboboxwhereclause=" ApplicationSettingGroupId IN ( SELECT Id FROM tb_Application_SettingGroup WHERE Name = \#\#应用管理_协同平台_问题跟踪_问题标签\#\# ) " class="form-control" style="width:160px;" />
              </td>

              <td class="table-body-text">@I18n.Translates["Bugs", "SimilarBugs"]</td>
              <td class="table-body-input">
                <input id="similarBugIds" name="similarBugIds" type="text" x-dom-data-type="value" value="@ViewBag.param.SimilarBugIds" class="form-control" style="width:200px;" />
              </td>
            </tr>

            <tr class="table-row-normal">
              <td class="table-body-text"><div style="color:#003399;cursor:pointer;font-weight:bolder" onclick="main.bugs.bug.form.attachmentLoad()" title="如上传后没有显示附件信息，请点刷新重新加载">@I18n.Translates["Attachments"]</div></td>
              <td colspan="3">
                <div id="files" x-dom-data-type="list">
                  <div id="window-attachment-wrapper" class="window-attachment-wrapper"></div>
                </div>
                <span class="x-ui-upload-button">
                  <span>@I18n.Translates["UploadFile"]</span>
                  <input id="fileupload" type="file" name="fileData" multiple>
                </span>
              </td>
            </tr>

          </table>
        </div>

        @if (ViewBag.docEditMode == DocEditMode.Edit)
        {
          <div class="x-ui-pkg-tabs-container">
            <h2 class="x-ui-pkg-tabs-container-head-hidden"><a id="tab-2" name="tab-2">反馈</a></h2>
            <div id="windowBugzillaCommentContainer"></div>
          </div>

          <div class="x-ui-pkg-tabs-container">
            <h2 class="x-ui-pkg-tabs-container-head-hidden"><a name="tab-3" id="tab-3">状态</a></h2>
            <table class="table">
              <tr class="table-row-title">
                <td style="width:120px">执行人</td>
                <td>状态</td>
                <td style="width:160px">修改日期</td>
              </tr>
              @foreach (var item in ViewBag.param.Histories)
              {
                <tr>
                  <td>@item.AccountName</td>
                  @if (item.FromStatusView == item.ToStatusView)
                  {
                    <td>提交</td>
                  }
                  else
                  {
                    <td>
                      <script type="text/javascript">document.write(main.bugs.util.setColorStatusView('@ViewBag.item.FromStatusView') + ' => ' + main.bugs.util.setColorStatusView('@ViewBag.item.ToStatusView}'))</script>
                    </td>
                  }
                  <td>@item.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
              }
            </table>
          </div>
        }
      </div>
    </div>
  </div>
</div>
