<!DOCTYPE html>

<html>
<head>
  <title>设置密码-@X3Platform.Configuration.KernelConfigurationView.Instance.SystemName</title>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="all" href="/resources/bootstrap/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" media="all" href="/resources/styles/default/style.css" type="text/css" />
  <link rel="shortcut icon" href="/favorite.ico" />
  <script type="text/javascript" id="jquery-script" src="/resources/scripts/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" id="bootstrap-script" src="/resources/bootstrap/js/bootstrap.min.js"></script>
  <script id="x-client-api-core-script" type="text/javascript" src="/resources/scripts/x-client-api-core.zh-cn.min.js"></script>
  <script id="crypto-sha1-script" type="text/javascript" src="/resources/scripts/crypto/rollups/sha1.js"></script>
  <script type="text/javascript" src="/views/main/account/set-password.js"></script>
</head>

<body>
  <div class="container">
    <div class="window-sign-up-form-wrapper" style="width:400px; margin:20px auto; border-radius:5px;">
      <div class="window-sign-up-form">
        <dl class="form">
          <dt class="input-label">新密码</dt>
          <dd>
            <input id="originalPassword" name="originalPassword" type="password" class="form-control" maxlength="20" value="" />
            <p class="note">密码强度要求：密码长度必须大于等于八位，并且至少包含一个小写字母和一个数字。<p>
          </dd>
        </dl>
        <dl class="form">
          <dt class="input-label">确认密码</dt>
          <dd>
            <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" maxlength="20" value="" />
          </dd>
        </dl>
        @if (ViewBag.registration == "mobile")
        {
          <input id="mobile" name="mobile" type="hidden" x-dom-data-type="value" value="@ViewBag.mobile" />
        }
        else
        {
          <input id="email" name="email" type="hidden" x-dom-data-type="value" value="@ViewBag.email" />
        }
        <input id="registration" name="registration" type="hidden" x-dom-data-type="value" value="@ViewBag.registration" />
        <input id="code" name="code" type="hidden" x-dom-data-type="value" value="@ViewBag.code" />
        <input id="password" name="password" type="hidden" x-dom-data-type="value" value="" />
        <div class="form-actions">
          <div class="button-submit button primary"><button id="btnSubmit" class="btn btn-success" >确定</button></div>
          <div class="loading" style="display:none;"><img src="/resources/images/loading.gif" alt="正在发送邮件..." /></div>
        </div>
      </div>
      <div class="window-sign-up-form-bottom">
        <a href="/">返回</a>
      </div>
    </div>
  </div>
  <input id="session-client-id" name="session-client-id" type="hidden" value="@ViewBag.ClientId" />
</body>
</html>
