<!DOCTYPE html>

<html>
<head>
  <title>@I18n.Translates["Membership", "SignIn"]-@X3Platform.Configuration.KernelConfigurationView.Instance.SystemName</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="all" href="/resources/bootstrap/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" media="all" href="/resources/styles/default/style.css" type="text/css" />
  <link rel="shortcut icon" href="/favorite.ico" />
  <script type="text/javascript" src="/resources/javascript/jquery-1.11.2.min.js"></script>
  <script id="x-client-api-core-script" type="text/javascript" src="/resources/javascript/x-client-api-core.zh-cn.js"></script>
  <script id="crypto-sha1-script" type="text/javascript" src="/resources/javascript/crypto/rollups/sha1.js"></script>
  <script type="text/javascript" src="/views/main/account/sign-in.js"></script>
</head>

<body>
  <div class="container">
    <div class="window-sign-in-form-wrapper">
      <div class="window-sign-in-form-container">
        <div class="window-sign-in-form-input input-group">
          <input id="loginName" maxlength="50" name="loginName" type="text" autocomplete="off" class="form-control" value="" />
          <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
        </div>
        <div class="window-sign-in-form-input input-group">
          <input id="password" maxlength="50" name="password" type="password" class="form-control" value="" />
          <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
        </div>
        <div class="window-sign-in-form-remember-me">
          <div class="pull-left" ><a href="/account/forgot-password" target="_blank">@I18n.Translates["Membership", "ForgotLoginPassword"]?</a></div>
          <div class="pull-right" ><input id="remember" name="remember" type="checkbox"> <span>@I18n.Translates["Membership","RememberLoginName"]</span></div>
        </div>
        <div class="window-sign-in-button-wrapper">
          <div class="window-sign-in-button-submit"><button id="btnSubmit" class="btn btn-success">@I18n.Translates["Membership", "SignIn"]</button></div>
          <div class="window-sign-in-loading" style="display:none;"><img src="/resources/images/loading.gif" alt="登录中" /></div>
        </div>
        <div class="window-sign-in-form-bottom">
          <a href="/account/sign-up">@I18n.Translates["Membership", "CreateNewAccount"]</a>
        </div>
      </div>
    </div>
  </div>
  <input id="session-client-id" name="session-client-id" type="hidden" value="@ViewBag.ClientId" />
</body>
</html>
